.chat-container {
    width: 600px;
    height: 550px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px 0 0 5px;
    transform: translate(-50%, -50%);
}

.chat-messages {
    padding: 3px;
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-y: scroll;
    background: url("../img/best-cashback.png")
}

.message {
    display: flex;
    align-items: center;
    padding-left:10px;
    margin: 3px 0;
    border-radius: 5px;
}

.message-content {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    background: #FFD8D8;
}

.their {
    background: #DFD6FF;
}

.their-message {
    flex-direction: row-reverse;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("../img/technical-support.png");
    background-size: cover; /* Размер фона */
    background-position: center;
}

.their-avatar {
    order: -1; /* Используйте свойство order для перемещения изображения вправо */
    margin-left: 10px;
    background-image: url("../img/user.png");
    background-size: cover; /* Размер фона */
    background-position: center;
}
.chat-input {
    display: flex;
    justify-content: space-between; /* Распределение элементов по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали */
    padding: 10px;
    position: absolute; /* Абсолютное позиционирование для chat-input */
    bottom: 0; /* Прижимаем к нижней границе */
    left: 0;
    right: 0;
}

    .chat-input input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
    }

    .chat-input button {
        padding: 8px 15px;
        border: none;
        background-image: url("../img/Vector.png");
        background-size: cover;
        width: 35px;
        height: 35px;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

.gift {
    display: flex;
    flex-direction: row; /* изменяем направление на горизонтальное */
    flex-wrap: wrap; /* столбцы будут переноситься на новую строку, если не помещаются */
    justify-content: flex-start; /* столбцы будут выравниваться к началу строки */
    margin-top: 10px; /* добавляем отступ сверху между строками */
}

.gift-column {
    flex: 1; /* каждый столбец будет занимать равное пространство */
    max-width: 150px; /* задаем максимальную ширину столбца */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .gift img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }

    .gift p {
        margin: 10px 0;
        word-wrap: break-word;
        width: 150px;
        text-align: center;
        height:80px;
    }
.gift .count{
    margin: 5px 0;
    word-wrap: break-word;
    width: 150px;
    text-align: center;
    height: 20px;
}

.gift .gift-link {
    color: #7E6BC4;
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #7E6BC4;
    width: 130px;
    height: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.gift .add-wish {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #7E6BC4;
    width: 130px;
    height: 30px;
    background-color: #7E6BC4;
    text-align: center;
    margin: auto;
    align-self: center;
    margin-bottom:10px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
}

    .button-group button {
        background-color: #7E6BC4;
        color: white;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        position:absolute;
         /* добавьте отступы, если нужно */
    }