<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gift/Giver </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/authoriz.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/registr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recover.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/private.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allproducts.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/45c3cf2169.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <div>
            <div class="v133_719"></div>
            <a class="lenta" asp-action="AllGift">Лента подарков</a>
            <span class="giftgiver">Gift/Giver</span>
            <span class="poxoshie">Похожие подарки</span>
            <div class="v133_723">
                <div class="v133_724">
                    <span class="cabinet" >Личный кабинет</span>
                </div>
                <div class="v133_726"></div>
            </div>
            <div class="v133_728">
                <div class="v133_729">
                    <span class="chat">Чат-бот</span>
                </div>
                <div class="v133_731" />
            </div>
        </div>
    </header>
    <main class="fon">
    @RenderBody()
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>