@{
    Layout = "_Layout";
    ViewData["Title"] = "Вход";
}

<section>
        <form asp-action="Authorization" method="post">
        <div class="autho_700">
            <div><span class="autho">Авторизация</span></div>
            <div style="margin-left:3%">
            <span class="autho_703">Логин</span>
            <div class="autho_704">
               <input class="autho_705" type="text" value="Логин" name="loginOrEmail" />
            </div>
            </div>
            <div style="margin-left:3%">
                <span class="autho_708">Пароль</span>
                <div class="autho_709">
                    <input class="autho_710" type="password" value="*********" name="password">
                </div>
            </div>
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Enter))
                {
                    <p style="color:red; font-size: 12px; margin-left: 15%; top:5%; position:relative">@ViewBag.Enter</p>
                }
                <button class="autho_713" type="submit">Войти</button>
            </div>
            <div>
                <a asp-action="Registration" class="autho_716">Регистрация</a>
            </div>
        </div>
        </form>
</section>