@{
    Layout = "_Layout";
    ViewData["Title"] = "Чат-бот";
}
<section>
    <form asp-action="ChatBot" method="post">
        <div class="chat-container">
            <div class="chat-messages">
               
            </div>
            <div class="button-group">
                <button id="start-btn">Начать</button>
                <button id="more-btn">Еще</button>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Введите сообщение" name="text">
                <button id="send"></button>
            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/bot.js"></script>