@{
    Layout = "_Layout";
    ViewData["Title"] = "Личный кабинет";
}

<section>
    <form asp-action="Authorization" method="post">
        <div class="v133_359">
            <div class="v133_360"></div>
            <div class="v133_361"></div>
            <span class="v133_362">Личный кабинет</span>
            <div class="v133_363">
                <span class="v133_364">Фамилия Имя Отчество</span>
                <div class="v133_365">
                    <span class="v133_366">Выйти</span>
                    <div class="v133_367">
                        <div class="v133_368"></div>
                        <div class="v133_369"></div>
                    </div>
                </div>
                <div class="v133_370"></div>
                <div class="v133_371">
                    <span class="v133_372">E-mail</span>
                    <div class="v133_373">
                        <div class="v133_374"></div>
                        <span class="v133_375">mail569568mail.ru</span>
                        <div class="v133_376">
                            <div class="v133_377"></div>
                        </div>
                    </div>
                </div>
                <div class="v133_378">
                    <span class="v133_379">Пароль</span>
                    <div class="v133_380">
                        <div class="v133_381"></div>
                        <span class="v133_382">*********</span>
                        <div class="v133_383">
                            <div class="v133_384"></div>
                        </div>
                    </div>
                </div>
                <div class="v133_385">
                    <span class="v133_386">Пол</span>
                    <div class="v133_387">
                        <div class="v133_388"></div>
                        <span class="v133_389">Муж</span>
                        <div class="v133_390">
                            <div class="v133_391"></div>
                        </div>
                    </div>
                </div>
                <div class="v133_392">
                    <span class="v133_393">Возраст</span>
                    <div class="v133_394">
                        <div class="v133_395"></div>
                        <span class="v133_396">32</span>
                        <div class="v133_397">
                            <div class="v133_398"></div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</section>