@{
    Layout = "_Layout";
    ViewData["Title"] = "Личный кабинет";
}
@model IEnumerable<tests.Подарки>
<section>
    <form asp-action="PrivateAcc" method="post">
        <div class="v133_359">
            <div class="back"></div>
            <div class="v133_399">
                <span class="v133_401">Список желаемого</span>
                <div class="grid-container-wishlist">
                    @foreach (var подарок in Model)
                    {
                        if (подарок.Изображение != null)
                        {
                            <div class="grid-item-wishlist">
                                <img src="data:image;base64,@(Convert.ToBase64String(подарок.Изображение))" />
                            </div>
                        }
                    }
                </div>
            </div>

            <span class="private">Личный кабинет</span>
            <div class="grid-container">
                <div class="grid-item">
                    <span class="v133_364">Фамилия Имя Отчество</span>
                    <div class="v133_365">
                        <span class="v133_366">Выйти</span>
                        <div class="v133_367">
                        </div>
                    </div>
                    <img class="v133_370">
                </div>
                <div class="grid-item">
                    <span class="private_span">E-mail</span>
                    <div class="private_input">
                        <input class="autho_710" type="email" value="mail569568mail.ru" name="email">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Пароль</span>
                    <div class="private_input">
                        <input class="autho_710" type="password" value="*********" name="password">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Пол</span>
                    <div class="private_input">
                        <input class="autho_710" type="text" value="Муж" name="pol">
                    </div>
                </div>
                <div class="grid-item">
                    <span class="private_span">Возраст</span>
                    <div class="private_input">
                        <input class="autho_710" type="date" value="02.03.2004" name="year">
                    </div>
                </div>
                <div class="grid-item">
                    <button class="autho_713" type="submit">Сохранить</button>
                </div>
                
            </div>
            
            </div>
    </form>
</section>